// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto', sans-serif;

// Clean up old unused code
