// Specific CSS for your home-page
.header{
  background-image: linear-gradient(60deg, #D62828, #FCBF49);
  background-clip: text;
  color: transparent;
}

a{
  text-decoration: none;
  color: $info;
}

a:hover{
  color: $success;
  transition: 0.3s;
}

.info-section{
  img{
    height: 180px;
    width: 170px;
  }
}

img{
  height: 50px;
  width: 50px;
}

.big-text{
  font-size: 100px;
}

.logo{
  font-size: 60px;
}

.small-card:hover{
  background-image: linear-gradient(60deg, #D62828, #FCBF49);
  transition: 0.5s;
  border:0px;
}

.card {
  pointer-events: auto;
  transform: scale(1);
  transition: all 0.4s;
}

.card:hover {
  opacity: 1;
  transform: scale(1.02);
}


.content:hover .card:not(:hover) {
  opacity: 0.5;
  transform: scale(0.96);
}
