<div class="modal fade" id="laModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-3 p-4">
          <div class="row">
            <div class="col-6">
            <h1 class="la-header mb-3">League-All</h1>
            <h3> League-all is a platform which streamlines women's & non-binary football grassroots league management for both organisers and teams.
              It aims to solve inefficiency in the organisation of football leagues.</h3>
              <div class="border-bottom border-2"></div>
            </div>
            <div class="col-6" >
            <h1>video goes here</h1>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
                <div class="d-line flex d-flex justify-content-around">
                  <%= image_tag "ruby.png" %>
                  <%= image_tag "rails.png" %>
                  <%= image_tag "stimulus.png" %>
                  <%= image_tag "sass.png" %>
                </div>
              </div>
              <div class="col-3 mt-2 d-flex justify-content-center">
              <h4>Team Size: 4 <i class="fa-solid fa-people-arrows" style="color: #000000;"></i></h4>
            </div>
          <div class="col-6">
            <div class="card" style="height:15em;">
              <h1>description</h1>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
