.dark-mode-toggle-icon {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dark-mode {
  background-color: #171738;
  color: white;
}
.dark-mode .card {
  background-color: #2E1760;
  color:white;
  border: 2px solid #3B27B9;
}

.dark-mode a{
  color: white;
}

.dark-mode body{
  color: white;
}

.dark-mode i{
  color: white !important;
}

.dark-mode .fa,
.dark-mode .fas,
.dark-mode .far,
.dark-mode .fab {
  color: white !important;;
}

.dark-mode .modal-body{
  background-color: #171738;
}

.dark-mode .modal-content{
  background-color: #171738;
}

.dark-mode .btn-close{
  color: white !important;
}

.dark-mode .weather-card{
  background-color: #2E1760 !important;
}

.dark-mode .btn-close{
  color: white !important;
}


.gradient-button3 {
  background: linear-gradient(60deg, #D62828, #FCBF49);
  border: none;
  color: white;
  padding: 15px; /* Uniform padding for a circle */
  width: 50px; /* Width and height are the same for a perfect circle */
  height: 50px;
  border-radius: 50%; /* This makes the button round */
  cursor: pointer;
  transition: transform 0.4s, background 0.4s; /* Smooth transition for hover effect */
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.gradient-button3 i {
  transition: transform 0.4s; /* Smooth transition for the icon */
}

.gradient-button3:hover {
  transform: scale(1.1); /* Slightly increase the size of the button */
  background: linear-gradient(120deg, #D62828, #FCBF49); /* Change the gradient direction */
}

.gradient-button3:active {
  transform: scale(0.9); /* Slightly scale down the button when clicked */
}
